<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Kysymysform</title>
</head>
<body>
<h1>Käytetäänkö olemassa olevaa kyselyä vai luodaanko uusi?</h1>

<form th:action="@{/olemassaolevakysely}" action="#" method="post">
        <select  id="querylist" class="form-control" th:field="${query.queryId}">
            <option th:each="query: ${querylist}"
                    th:value="${query.queryId}"
                    th:text="${query.title}">
            </option>
        </select>
        <input type="submit" value="Käytä kyselyä"/>
</form>

<h1>Luo uusi kysely</h1>

<form th:object="${newQuery}" th:action="@{/tallennauusikysely}" action="#" method="post">
    <input type="text" th:field="${newQuery.title}"/>
    <input type="submit" value="Save"/>
</form>

</body>
</html>